.log-container {
  max-height: 10vh;
  overflow:auto;
}

.log-message{
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.email-added {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.email-deleted {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
