<section class="email-display">
  <h2>Editor</h2>
  <form (ngSubmit)="onSubmit(emailValue, f)" #f="ngForm">
      <label for="email">Email:</label>
      <input id="email"
        placeholder="Enter Email"
        type="email"
        [(ngModel)]="emailValue"
        name="email"
        #email="ngModel"
        email=true
      >
      <button type="submit" [disabled]="!email.valid">Send</button>
      <span class="error-massage" *ngIf="!email.valid && email.touched">email address not valid</span>
    </form>
</section>
