<section class="card">
  <div class="card-body">
      <h2>Display</h2>
      <table *ngIf="emailList.length" class="emails-list">
        <thead>
            <tr>
                <th>Email</th>
                <th>Function</th>
            </tr>
        </thead>
        <tbody>
          <tr *ngFor="let email of emailList; let i = index">
            <td><span class="email-address">
                {{email}}
            </span></td>
            <td><button (click)="onDelete(email, i)" class="btn btn-delete">Delete</button></td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="!emailList.length" class="empty-list">
          No emails to show
      </div>
  </div>
</section>
